// Global component styles

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
}

a {
  &:focus {
    outline: none;
  }
}

// Main page wrapper
#wrapper {
  display: flex;
  #content-wrapper {
    background-color: $gray-100;
    width: 100%;
    overflow-x: hidden;
    #content {
      flex: 1 0 auto;
    }
  }
}

// Set container padding to match gutter width instead of default 15px
.container,
.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

// Scroll to top button
.scroll-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  color: $white;
  background: fade-out($gray-800, 0.5);
  line-height: 46px;
  &:focus,
  &:hover {
    color: white;
  }
  &:hover {
    background: $gray-800;
  }
  i {
    font-weight: 800;
  }
}

.vertical-center {
  align-items: center;
}

.full-height {
  height: 100vh;
}
.bg-gray {
  background: $gray-200;
}
.padding-0 {
  padding: 0px !important;
}

@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src: url("../fonts/icon-font/untitled-font-1.eot");
  src: url("../fonts/icon-font/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon-font/untitled-font-1.woff") format("woff"),
    url("../fonts/icon-font/untitled-font-1.ttf") format("truetype"),
    url("../fonts/icon-font/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-category:before {
  content: "\61";
}
.icon-coupens:before {
  content: "\62";
}
.icon-customers:before {
  content: "\63";
}
.icon-delete:before {
  content: "\64";
}
.icon-doshboard:before {
  content: "\65";
}
.icon-down:before {
  content: "\66";
}
.icon-edit:before {
  content: "\67";
}
.icon-lock:before {
  content: "\68";
}
.icon-logout:before {
  content: "\69";
}
.icon-offer:before {
  content: "\6a";
}
.icon-order:before {
  content: "\6b";
}
.icon-product:before {
  content: "\6c";
}
.icon-rating-reviews:before {
  content: "\6d";
}
.icon-sellers:before {
  content: "\6e";
}
.icon-settings:before {
  content: "\6f";
}
.icon-bell:before {
  content: "\70";
}

// Height
.min-h-200 {
  min-height: 200px;
}

// Width
.width-200 {
  width: 200px;
}
.width-300 {
  width: 300px !important;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border: none;
  color: $cyan;
}
.nav-link {
  color: $gray-400;
}
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border: none;
  color: $cyan;
}

tr,
th,
td {
  padding: $table-cell-padding-sm;
  &:hover {
    background-color: $gray-100;
    cursor: pointer;
  }
}

.product-image-large {
  border: 1px solid $gray-200;
  width: 175px;
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 90%;
    height: 175px;
    object-fit: contain;
  }
}
.progress-order-box {
  height: 50px;
  width: 100%;
  background-color: $gray-100;
  color: $gray-400;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 160px;
}
.active-progress-order {
  background-color: $cyan;
  color: $white;
}
.append {
  height: 40px;
  width: 40px;
  bis: g;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-left: 5px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
}
.customer-picture {
  width: 63px;
  height: 63px;
  background-color: #f1f1f1;
  border-radius: 160px;
  overflow: hidden;
  position: relative;
  img{
    width: 100%;
    height: 63px;
    object-fit: cover;
    position: absolute;
  }
}
.width-200{
  width: 200px;
}
.customer-picture:before {
  content: "\f007";  /* this is your text. You can also use UTF-8 character codes as I do here */
  font-family: "Font Awesome 5 Free";
  left:40%;
  position:absolute;
  top:30%;
}
.list-group{
  flex-direction: row;
}
.list-group-item{
  padding: 10px;
  border:none;
  border-radius: 0px!important;
}
small, .small{
  font-size: 70%;
}

// Heading mob frendly
@media (max-width: 576px) {
  .heading-page-each {
    text-align: center;
    .form-group {
      margin: 0px auto;
    }
  }
  .text-center-xs {
    text-align: center;
  }
}

input[type=color] {
  border: none;
  padding: 0px;
  margin: 0px;
  height: 40px;
  background: none;
  margin-right: 5px;
}